/*import google font*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Animation for subtle appearance */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


/* Body styling */
body {
    animation: fadeIn 1s ease-in-out;
    font-family: 'Kanit', sans-serif; /* Google font */
    color: #333;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(100,119,217,1) 0%, rgba(225,0,252,0.22591043253238796) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navbar styling */
.navbar3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
    backdrop-filter: blur(10px); /* Adds blur to background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a modern effect */
    border-radius: 10px;
}

.navbar3 h1 {
    color: #000000;
}

.navbar3 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar3 li {
    margin: 0 20px;
}

.navbar3 a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar3 a:hover {
    color: #f0e68c; /* Hover color change */
}

/* Styling for sections */
h2 {
    text-align: center;
    margin: 20px 0;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*border around image maybe*/
.hover-image {
    /*make room so that it can grow without it blocking the title*/
    margin-top: 20px;
    border: 5px solid #000000
}

.hover-image{
    transition: transform 0.3s ease;
}
.hover-image:hover{
    transform: scale(1.1);
}

/* book summary */
p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: #000000;
    
}

/*make the abebooks change color when the mouse hovers over it*/
div a:hover{
    color: #f0e68c;
    text-decoration: underline;
}

/*make hr consistent*/
hr {
    border: none;
    height: 6px;
    width: 50%; /* width of the line*/
    background-color: #3f51b5;
    margin: 20px auto; /* Center the rule on the page */
}


/* Footer styling */
footer {
    text-align: center;
    padding: 10px 0;
    color: #000000;
}
